/* ===================================================================
     preloader 
 * ------------------------------------------------------------------- */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #151515;
  z-index: 800;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.no-js #preloader,
.oldie #preloader {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  padding: 0;
  display: inline-block;
  transform: translate3d(-50%, -50%, 0);
}

#loader>div {
  content: "";
  background: #FFFFFF;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

#loader>div:nth-of-type(1) {
  left: 15px;
}

#loader>div:nth-of-type(3) {
  left: -15px;
}


/* dots jump */

.dots-jump>div {
  animation: dots-jump 1.2s infinite ease;
  animation-delay: 0.2s;
}

.dots-jump>div:nth-of-type(1) {
  animation-delay: 0.4s;
}

.dots-jump>div:nth-of-type(3) {
  animation-delay: 0s;
}


/* ----------------------preloader ends--------------------------------------------- */

body {
  margin: 0;
  padding: 0;
}

p.lead {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.875;
  margin-bottom: 3.6rem;
  color: rgba(0, 0, 0, 0.45);
}


/* ===================================================================
 * # header styles
 *
 * ------------------------------------------------------------------- */

.s-header {
  width: 100%;
  height: 72px;
  background-color: transparent;
  position: absolute;
  top: 4.2rem;
  z-index: 500;
}

.s-header>.row {
  position: relative;
  height: 72px;
  max-width: 1400px;
}

.s-header.offset {
  transform: translate3d(0, -100%, 0);
  transition: all 1s ease-in-out;
}

.s-header.scrolling {
  transform: translate3d(0, 0, 0);
}

.s-header.sticky {
  position: fixed;
  top: 0;
  background-color: #000000 !important;
  opacity: 0;
  visibility: hidden;
  z-index: 600;
}

.s-header.sticky>.row {
  max-width: 1200px;
}

.s-header.sticky .header-logo {
  padding-left: 20px;
}

.s-header.sticky .header-nav-wrap {
  top: 0;
  right: 20px;
  left: auto;
}

.s-header.sticky.scrolling {
  opacity: 1;
  visibility: visible;
}


/* ------------------------------------------------------------------- 
 * ## navigation 
 * ------------------------------------------------------------------- */

.header-logo img {
  width: 130px;
  height: 37px;
  transition: all 0.3s ease-in-out;
}

.header-nav-wrap {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: .3rem;
  position: absolute;
  top: 0;
  left: 200px;
}

.header-nav {
  display: inline-block;
  list-style: none;
  margin: 0;
  height: 72px;
}

.header-nav li {
  display: inline-block;
  padding-left: 0;
  margin-right: 2rem;
}

.header-nav li a {
  display: block;
  line-height: 72px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.header-nav li.current a,
.header-nav li a:hover {
  color: #FFFFFF;
}

.s-home {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  position: relative;
  display: table;
}

.s-home::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
  background-color: #000000;
}

.s-home .shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

.no-js .s-home {
  background: #000000;
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: 50% 30%;
  align-items: center;
  float: right;
  text-transform: uppercase;
  font-family: monospace;
  background: black;
  font-size: 3rem;
  padding: 1rem;
  color: #99e9f2;
  border-radius: 0.3rem;
  box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.2)
}

.home-content {
  display: table-cell;
  width: 100%;
  height: 100vh;
  vertical-align: bottom;
  padding-bottom: 15.6rem;
  overflow: hidden;
  position: relative;
}

.home-content h1 {
  font-size: 6.3rem;
  line-height: 1.5;
  margin-left: 20%;
  margin-top: 20%;
  text-shadow: 2px 2px 6px #000000;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}


/* ------------------------------------------------------------------- 
 * ## Content
 * ------------------------------------------------------------------- */

.sub {
  padding: 2em 12em;
  font: normal 30px/50px Arial, sans-serif;
  color: #343a40;
  
}

p {
  height:49px;
 
  float: left;
  margin-right: 0.3em;
}

b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
}

span1 {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  animation: move 10s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}

.text {
  padding: 100px;
  font-size: 30px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.941;
  color: rgba(0, 0, 0, 0.65);
}

.gradient-button {
  margin-left: 40%;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #FFF;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  display: inline-block;
  border-radius: 25px;
}

.gradient-button-3 {
  background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%)
}

.gradient-button-3:hover {
  background-position: right center;
  text-decoration: none;
  color: #d0ebff;
  transform: scale(1.1);
}


/* ------------------------------------------------------------------- 
 * ## Responsive
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
  .header-logo {
    display: none;
  }
  .text {
    font-size: 15px;
    padding:10px !important;
  }
  .gradient-button-3 {
    margin-left: 25%;
  }
  .heading {
    font-size: 35px !important;
    margin-top: 20%;
  }
  .page-hero {
    width: 100%;
    height: 2%;
  }
  .s-header {
    display: none;
  }
  .vertical {
    display: none;
  }
  .sub{
   display: none;
   }
}
